For England yes page

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          You are an organisation asking for help.
        </h1>

        <p>
          Please complete this form to tell us about what your organisation needs. It should take about 5 minutes.
        </p>

          <p>
            <a id="button" class="govuk-button black-button govuk-!-margin-right-1" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xt8GKZBy9uEJFm0CpljV6VGlURDRNQzZLTlFBRUFTTDFURkxPNDE0STdHOC4u" target="_blank">Start</a></p>
            <p>
              <a id="button" class="govuk-button govuk-button--secondary" href="/branching-individual/index">Back</a> </p>

          </div>
        </div>

    </div>
  </div>
{% endblock %}
