{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You cannot use this service yet.</h1>

      <p>Currently we are only able to process requests for support from organisations in England.</p>
      
      <p>Find guidance on individual support available in other UK countries:</p>

      <ul><ul class="govuk-list govuk-list--bullet">
        <li><a rel="external" href="https://www.health-ni.gov.uk/coronavirus">Northern Ireland</a></li>
        <li><a rel="external" href="https://www.gov.scot/publications/covid-shielding-contacts/">Scotland</a></li>
        <li><a rel="external" href="https://gov.wales/get-coronavirus-support-extremely-vulnerable-person">Wales</a></li>
      </ul>

      <p>
        <a href="/branching-individual/individual-no">Back</a>
      </p>

    </div>
  </div>



{% endblock %}
