{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Unfortunately, you are not eligible for this service.
        </h1>

        <h2 class="govuk-heading-m">This service is for organisations to request help.</h2>
        <br><p><a href="https://www.gov.uk/find-coronavirus-support">Find out how to ask for support as an individual.</a><br>
        </p>
        <br>
        <p>If you are a 'shielded' individual, or helping someone who is, <a href="https://www.theyhelpyou.co.uk/">access information on local support.</a>Shielded means you are clincially extrememely vulnerable. If you are in this group, you should have recieved a letter from the government or been told by your doctor.<br></p>
          <br>
          <p>
            <a id="button" class="govuk-button govuk-button--secondary" href="/branching-individual/index">Back</a> </p>

    </div>
  </div>
{% endblock %}
