{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Unfortunately, you are not eligible for this service.
        </h1>

        <h2 class="govuk-heading-m">This service is for organisations to request help.</h2>
        <p>Try:</p>
        <ul class="govuk-list govuk-list--bullet"">
          <li>
            <p><a href="https://www.gov.uk/find-coronavirus-support">Find support for individuals on GOV.UK.</a>
            </p>
          </li>
          <li>
            <p><a href="https://www.theyhelpyou.co.uk/">Access information on local support for shielded individuals and their helpers on TheyHelpYou.co.uk.</a>
            </p>
          </li>
          </ul>
        <br>
        <p>Shielded means you are in a very high risk group. If you are, you should have recieved a letter from the government or been told by your doctor.</br></p>
          <br>
          <p>
            <a id="button" class="govuk-button govuk-button--secondary" href="/branching-individual/index">Back</a> </p>

    </div>
  </div>
{% endblock %}
