{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Sorry, unfortunately you are not eligible for this service.
        </h1>

        <h2 class="govuk-heading-m">This service is for requests for help from organisations.</h2>
        <br><p>There’s separate guidance for individual support available <a href="https://www.gov.uk/find-coronavirus-support">here.</a><br>
        </p>
        <br><p>If you are a 'shielded' group you can access information on local support <a href="https://www.theyhelpyou.co.uk/">here.<a><br>

          <p>
            <a id="button" class="govuk-button govuk-button--secondary" href="/branching-individual/index">Back</a> </p>

    </div>
  </div>
{% endblock %}
