
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">Voluntary and Community Sector Emergencies Partnership</h2>


  <div class="article-container group govuk-grid-column-two-thirds">
    <div class="content-block">
      <div class="inner">

  <section class="intro">
    <div class="get-started-intro">

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

  <p>The Voluntary and Community Sector Emergencies Partnership was founded in 2018, following the emergency at Grenfell Tower.</p>

  <p>The aim of the VCSEP is to create an alliance between the voluntary and community sector to make it easier for grassroots and local organisations to get help during an emergency.
  </p>

    <p>Our members include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.victimsupport.org.uk/">Victim Support</li>
            <li><a href="https://navca.org.uk/">National Association for Voluntary and Community Action</li>
            <li><a href="https://www.faithaction.net/">Faith Action</li>
            <li><a href="https://www.muslimaid.org/">Muslim Aid</li>
            <li><a href="https://www.sja.org.uk/">St John Ambulance</li>
            <li><a href="https://www.salvationarmy.org.uk/">The Salvation Army</li>
            <li><a href="https://nationalemergenciestrust.org.uk/">The National Emergencies Trust</li>
            <li><a href="https://www.bitc.org.uk/">Business in the Community</li>
            <li><a href="https://www.redcross.org.uk/">British Red Cross</li>
          </ul>

<p id="get-started" class="get-started group">

<a class="gem-c-button govuk-button govuk-button--start" role="button" rel="external" href="/branching-england/index"> Start now
<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
</svg>
</a>

<p><a href="/branching-individual/index">Back</a></p>

</div>
    </div>

  </section>

      </div>
    </div>
  </div>
    </div>
</div>

{% endblock %}
