
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Get help as a local organisation service
{% endblock %}


{% block content %}

    <div class="content-block">
      <div class="inner">

  <section class="intro">
    <div class="get-started-intro">

<div class="gem-c-govspeak govuk-govspeak" data-module="govspeak">

        <p>Use this service if you are:

          <ul class="govuk-list govuk-list--bullet">
            <li><p class="govuk-body govuk-!-font-weight-bold">a member of a local organisation or community group</p></li>

            <p>For example, you manage a food bank which suddenly does not have enough volunteers.</p>

            <li><p class="govuk-body govuk-!-font-weight-bold">a representative for a local organisation or community group</p></li>

            <p>For example, a liaison lead reporting a problem a neighbourhood support network has.</p>

          </ul>

</div>
    </div>
    <p id="get-started" class="get-started group">


  <a class="gem-c-button govuk-button govuk-button--start" role="button" rel="external" href="/branching-individual/index">Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
  </svg>
</a>


    </p>
  </section>

  <section class="more">

        <div id="before-you-start">
    <h2 class="govuk-heading-m">Before you start</h2>
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<p>This service is currently only available in England. Find out how to get support as an individual in:</p>

  <ul><ul class="govuk-list govuk-list--bullet">
<li><a rel="external" href="https://www.health-ni.gov.uk/coronavirus">Northern Ireland</a></li>
<li><a rel="external" href="https://www.gov.scot/publications/covid-shielding-contacts/">Scotland</a></li>
<li><a rel="external" href="https://gov.wales/get-coronavirus-support-extremely-vulnerable-person">Wales</a></li>
</ul>

<!---<h2 class="govuk-heading-m">Who is offering this service?</h2>
<p>The service is being offered by the Voluntary and Community Sector Partnership. Learn<a href="/about-vcsep">more about us and how we work</a>.</p>
--->
</div>
  </div>

  </section>

    </div>
</div>

{% endblock %}
